.slideshow-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-slideshow {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    animation: zoomIn 5s ease infinite;
}

@keyframes zoomIn {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}